body{
    font-family: Verdana;
    text-align: center;
}

#button{
    font-size: 2em;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    background-color: rgb(77, 90, 209);
    cursor: pointer;
    transition: background-color 0.5s;
}
#button:hover{
    background-color: rgb(143, 153, 236);
}
.labels{
    font-size: 2em;
}
